<div *ngIf="purchase">
    <div>
        Date: <input [(ngModel)]="purchase.date" placeholder=" Date">
    </div>
    <div>
        Description: <input [(ngModel)]="purchase.description" placeholder=" description">
    </div>
    <div>
        Price: <input [(ngModel)]="purchase.price" placeholder="Price">
    </div>
    <div >
    </div>
    <div *ngIf="purchase.id;else addPurchase">
        <button (click)="update(purchase)">Update</button>
        <button (click)="delete(purchase)">delete</button>
    </div>
    <ng-template #addPurchase>
        <button (click)="save(purchase)">Save</button>
    </ng-template>
</div>